<style>
  a.no-style {
    color:#000000 !important;
    text-decoration:none;
  }
</style>

<br>
<div class="row jumbotron text-center">
  <h1><a class="no-style" href="/"><%= title %></a></h1>
</div>
