<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body class="container">
  <% include ../partials/nav %>

  <section class="comment text-center">
    <h3><strong><%= comment.text %></strong></h3>
    <h4><em>—<%= comment.username %></em></h4>
  </section>

  <br>

  <div class="row text-center">
    <div class="panel panel-default col-xs-6 col-xs-offset-3">
      <div class="panel-body">
        <% if (user) { %>
          <p>You are currently logged in as<br><strong><%= user.name %></strong></p>
          <a href="/logout" class="btn btn-danger">Logout</a>
        <% } else { %>
          <a href="/login" class="btn btn-primary">Login</a>
          <a href="/register" class="btn btn-info">Register</a>
        <% } %>
      </div>
    </div>
  </div>

</body>

</html>
